%h2
  Edit 
  = resource_name.to_s.humanize

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  = f.label :username, "Username (cannot be changed)"
  #registration_username
    = current_user.username
  %p
    = link_to "my videos", user_path(current_user)

  = f.label :email
  = f.email_field :email

  = f.label :password, "Password (leave blank if you don't want to change it)"
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  = f.label :current_password, "Current password (we need your current password to confirm your changes)"
  = f.password_field :current_password

  %div
    %button.btn(type="submit") Update

= link_to "Back", :back
