= simple_form_for(@scene) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :desc
    = f.input :start_date
    = f.input :end_date
    = f.association :project

  .form-actions
    = f.button :submit
