%h1 
  Listing scenes
  %small
    = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"New Scene", link_path:new_scene_path }

%table.table.table-striped
  %tr
    %th Project
    %th Name
    %th Desc
    %th Start date
    %th End date
    %th
    %th
    %th

  - @scenes.each do |scene|
    %tr
      %td= scene.project.name
      %td= scene.name
      %td= scene.desc
      %td= scene.start_date
      %td= scene.end_date
      %td= link_to 'Show', scene
      %td= link_to 'Edit', edit_scene_path(scene)
      %td= link_to 'Destroy', scene, :confirm => 'Are you sure?', :method => :delete

%br
