= render :partial => '/shared/project_scene_menu', :locals => { project:@scene.project }

%h3#scene-title
  = @scene.name
  -current_time = DateTime.now
  %small
    -if @scene.is_closed_time?(current_time)
      (voting closed)
    -elsif @scene.is_unavailable_time?(current_time)
      (not yet available)
    -# show only for admin or manager
    = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"Edit Scene: #{@scene.name}", link_path:edit_scene_path(@scene) }

%br
#scene-synopsis
  %strong scene synposis:
  = @scene.desc

  %p
    %b Start date:
    = @scene.start_date
  %p
    %b End date:
    = @scene.end_date

-if @scene.videos.present?
  %table.table.videos
    - @scene.videos_by_score.each do |video|
      %tr
        %td.thumb-col= link_to image_tag("#{video.thumbnail_url}"), video_path(video)
        %td
          .title
            = link_to video.name, video_path(video)
            .who
              -if video.user
                by
                = simple_user_link video.user
              -else
                n/a
          = video.desc
        %td.edit
          - if can?(:update, video)
            = link_to 'Edit', edit_video_path(video)
          -else
            &nbsp;
        %td.votes-col
          = render :partial => '/videos/vote_on', :locals => { :video => video }
-else
  no videos submitted
