= form_for @video do |f|
  -if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  -if params[:action] == 'edit'
    <iframe width="560" height="315" src="http://www.youtube.com/embed/#{@video.video_id}" frameborder="0" allowfullscreen></iframe>
  %br

  = f.label :name
  %br
  = f.text_field :name
  %br

  = f.label :video_url
  %br
  = f.text_field :video_url
  %br

  = f.label :desc
  %br
  = f.text_area :desc, :class => 'text-area'
  %br

  -unless params[:action] == 'new' || params[:action] == 'create'
    Thumbnail url 
    %br
    = @video.thumbnail_url

  .actions
    = f.submit 'Save'
