= simple_form_for(@video, :html => { :class => 'form-horizontal' }) do |f|
  -if @video.errors.any?
    -# remove user_id error message
    - @video.errors.delete(:user_id) if @video.errors.count > 1
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  -if params[:action] == 'edit'
    <iframe width="560" height="315" src="http://www.youtube.com/embed/#{@video.video_id}" frameborder="0" allowfullscreen></iframe>
    %br
    .delete= link_to 'Delete', @video, :confirm => 'Are you sure?', :method => :delete
    %br

    Submitted by: 
    -if @video.user
      = @video.user.username
    -else
      n/a
    %br
    %br

  = f.input :name
  = f.input :video_url, :hint => "must be from youtube.com or vimeo.com"

  -if current_user.has_role?(:admin) || current_user.has_role?(:manager)
    .admin
      = f.input :visible

  = f.input :desc
  = f.hidden_field :scene_id, :value => @scene.id
  .form-actions
    = f.button :submit, :class => "btn-primary", :value => "Add Video"
