= render :partial => '/shared/project_scene_menu', :locals => { project:@scene.project }

%h2 
  New video
  %small 
    for project:
    = @scene.project.name
    ,
    scene:
    = @scene.name
%p
  %b Desc:
  = @scene.desc
%p
  %b Start date:
  = @scene.start_date
%p
  %b End date:
  = @scene.end_date

= render 'form'

= link_to 'Back', videos_path
