= render :partial => 'video_container'

#video_details
  %h3
    = @video.name
  .subline
    .by
      %light
        by
      - if @video.user
        = simple_user_link @video.user
      - else
        n/a
      %small
        = time_ago_in_words @video.created_at
        ago

  %br
  .desc= @video.desc

#video-menu
  = render :partial => 'vote_on', :locals => { :video => @video }
  .controls(style="float:right;vertical-align:top")
    - if can?(:update, @video)
      = link_to 'Edit', edit_video_path(@video)
      \|
    = link_to 'Back', :back

%p
  -if current_user
    #comment_form
      = form_tag add_comment_video_path, :remote => true do
        = text_area_tag "comment"
        = button_tag "add comment", :class => "btn", :id => "comment_submit"
  -else
    #video-show-sign-in
      = link_to "Sign in", new_user_session_path
      to comment

- if @comments
  %p
    %strong Comments
  #comments
    = render :partial => @comments, :spacer_template => "comments/comment_separator"
