%p#notice= notice

%p
  %b Name:
  = @video.name
%p
  %b Submitted by:
  - if @video.user
    = @video.user.username
  - else
    n/a
%p
  %b Video url:
  = @video.video_url
%p
  %b Description:
  = @video.desc
%p
  <iframe width="560" height="315" src="http://www.youtube.com/embed/#{@video.video_id}" frameborder="0" allowfullscreen></iframe>

- if can?(:update, @video)
  = link_to 'Edit', edit_video_path(@video)
  \|
= link_to 'Back', videos_path

%fb:comments{ 'href' => request.url, 'num_posts' => 5, 'width' => 470 }
