-# prev_next project menu
.row
  .span2
    = link_to "previous projects", projects_path, { class:'btn' }
  .span8
    #project-title
      current project: 
      .title
        = link_to project.name, project_path(project)
      %br
  .span2
    .pull-right
      = link_to "upcoming projects", '#', { class:'btn' }

-# show only for admin or manager
-if user_signed_in?
  -if current_user.has_role?(:admin) || current_user.has_role?(:manager)
    .admin
      = link_to 'Edit Project', edit_project_path(project)

-# scene menu
- current_date = DateTime.now
#scene-menu
  - project.scenes.each do |scene|
    .box
      -if scene.is_vote_time?(current_date)
        = link_to image_tag(asset_path('video-vote.png')), scene_path(scene)
        = link_to scene.name, scene_path(scene)
      -elsif scene.is_submit_time?(current_date)
        = link_to image_tag(asset_path('video-submit.png')), new_video_path(:scene_id => scene)
        = link_to scene.name, new_video_path(:scene_id => scene)
      -elsif scene.is_unavailable_time?(current_date)
        = link_to image_tag(asset_path('video-none.png')), scene_path(scene)
        = link_to scene.name, scene_path(scene)
      -elsif scene.is_closed_time?(current_date)
        = link_to image_tag("#{scene.videos.first.thumbnail_url}"), scene_path(scene)
        = link_to scene.name, scene_path(scene)

%br
#project-synopsis
  %strong
    project synopsis: 
  = project.desc
%br
