- current_date = DateTime.now
- align_left = params[:action] == "index" && params[:controller] == "projects"
#scene-menu{ :style => align_left ? style="text-align:left" : '' }
  - project.scenes.order('start_date asc').each do |scene|
    .box
      -if scene.is_vote_time?(current_date)
        = link_to image_tag(asset_path('video-vote.png')), scene_videos_path(scene)
        = link_to scene.name, scene_videos_path(scene)
      -elsif scene.is_submit_time?(current_date)
        = link_to image_tag(asset_path('video-submit.png')), new_video_path(:scene_id => scene)
        = link_to scene.name, new_video_path(:scene_id => scene)
      -elsif scene.is_unavailable_time?(current_date)
        = link_to image_tag(asset_path('video-none.png')), scene_videos_path(scene)
        = link_to scene.name, scene_videos_path(scene)
      -elsif scene.is_closed_time?(current_date)
        -if scene.videos.blank?
          = link_to image_tag(asset_path("video-none-submitted.png")), scene_videos_path(scene)
        -else
          = link_to image_tag("#{scene.videos.first.thumbnail_url}"), scene_videos_path(scene)
        = link_to scene.name, scene_videos_path(scene)
