.row
  <iframe class='home-page' width="500" height="284" src="http://www.youtube.com/embed/Dl6Q7FkCMJw" frameborder="0" allowfullscreen></iframe>
  %br

.row
  .col4
    .what-is
      = button_to "what is irolostreet?", about_path, :method => :get
  .col4
    .this-week
      = button_to "this week's contest", '#', :method => :get
  .col4
    .current-story
      = button_to "past winners", videos_path, :method => :get
  .row-end
.row
  %hr.dashed
  %table.videos
    %tr
    - @videos.each do |video|
      %tr
        %td.video-col
          = link_to image_tag("#{video.thumbnail_url}"), video_path(video)
        %td.name-col= link_to video.name, video_path(video)
