.home_video
  <iframe class='home-page' width="500" height="284" src="http://www.youtube.com/embed/Dl6Q7FkCMJw" frameborder="0" allowfullscreen></iframe>
%br

.row
  .span4
    .home_btn
      = link_to "what is irolostreet?", about_path, { class:'btn btn-primary', :method => :get }
  .span4
    .home_btn
      = link_to "this week's contest", '#', { class:'btn btn-primary', :method => :get }
  .span4
    .home_btn
      = link_to "past winners", videos_path, { class:'btn btn-primary', :method => :get }
  .row-end

%hr
%table.videos
  %tr
  - @videos.each do |video|
    %tr
      %td
        = link_to image_tag("#{video.thumbnail_url}"), video_path(video)
      %td= link_to video.name, video_path(video)
      %td= video.desc
