.row
  .span2
    = link_to "previous projects", videos_path, { class:'btn' }
  .span8
    #project-title
      current project: 
      .title
        Dragonball I
      %br
  .span2
    .pull-right
      = link_to "upcoming projects", '#', { class:'btn' }

#scene-menu
  - video = Video.first
  .box
    = link_to image_tag("#{video.thumbnail_url}"), mockscene1_path
    %br
    = link_to "scene 1", mockscene1_path, :class => 'active'
  .box
    = link_to image_tag("#{video.thumbnail_url}"), mockscene2_path
    %br
    = link_to "scene 2", mockscene2_path
  .box
    .vote
      = link_to image_tag(asset_path('video-vote.png')), mockvote_path
    = link_to "scene 3", mockvote_path
  .box
    .submit
      = link_to image_tag(asset_path('video-submit.png')), mocksubmit_path
    = link_to "scene 4", mocksubmit_path
  .box
    .nothing
      = link_to image_tag(asset_path('video-none.png')), mocknone_path
      = link_to "scene 5", mocknone_path

%br
%br
#project-synopsis
  %strong
    synopsis: 
  This project is about the pure awesomeness of ninjas. If you think they're here to
  save the day...you're wrong! They're here to END IT!
%br

.blah(style="font-weight:bold;font-size:18px;text-align:center")
  Scene 1 (voting closed)
%br

-@videos = Video.all
%table.table.videos
  - @videos.each do |video|
    %tr
      %td.thumb-col= link_to image_tag("#{video.thumbnail_url}"), video_path(video)
      %td
        .title
          = link_to video.name, video_path(video)
          .who
            -if video.user
              by
              = simple_user_link video.user
            -else
              n/a
        = video.desc
      %td.edit
        - if can?(:update, video)
          = link_to 'Edit', edit_video_path(video)
        -else
          &nbsp;
      %td.votes-col
        :ruby
          # show appropriate image based on whether or not video has
          # been voted on by current_user
          vote_image = ''
          vote_link = ''
          vote_on = false

          if current_user and current_user.voted_for? video
            vote_image = "vote_on.png"
            vote_link = vote_down_video_path(video)
            vote_on = true
          else
            vote_image = "vote_off.png"
            vote_link = vote_up_video_path(video)
          end

        -if current_user
          .votes
            %span.vote-count= video.votes_for
        -else
          .cannot-vote.votes
            = image_tag asset_path(vote_image)
            %span.vote-count= video.votes_for
