
.row
  .span2
    = link_to "previous projects", videos_path, { class:'btn' }
  .span8
    #project-title
      current project: 
      .title
        Dragonball I
      %br
  .span2
    .pull-right
      = link_to "upcoming projects", '#', { class:'btn' }

#scene-menu
  - video = Video.first
  .box
    = link_to image_tag("#{video.thumbnail_url}"), mockscene1_path
    %br
    = link_to "scene 1", mockscene1_path
  .box
    = link_to image_tag("#{video.thumbnail_url}"), mockscene2_path
    %br
    = link_to "scene 2", mockscene2_path
  .box
    .vote
      = link_to image_tag(asset_path('video-vote.png')), mockvote_path
    = link_to "scene 3", mockvote_path
  .box
    .submit
      = link_to image_tag(asset_path('video-submit.png')), mocksubmit_path
    = link_to "scene 4", mocksubmit_path, :class => 'active'
  .box
    .nothing
      = link_to image_tag(asset_path('video-none.png')), mocknone_path
      = link_to "scene 5", mocknone_path

%br
%br
#project-synopsis
  %strong
    project synopsis: 
  This project is about the pure awesomeness of ninjas. If you think they're here to
  save the day...you're wrong! They're here to END IT!
%br

.blah(style="font-weight:bold;font-size:18px;text-align:center")
  Scene 4 - Submit Scene
%br
.lkj(style="width:600px;margin:auto;")
  %strong
    scene synopsis: 
  \...fight to the death...ninja death scene...
%br

= render 'videos/form'
