%h1 
  Listing projects
  %small
    = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"New Project", link_path:new_project_path }

%br

- @projects.each do |project|
  %strong
    project synopsis: 
  = project.desc

  &nbsp;
  &nbsp;
  &nbsp;
  -# show only for admin or manager
  = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"Edit Project: #{project.name}", link_path:edit_project_path(project) }

  %br

  -# scene menu
  = render :partial => 'shared/project_scenes', :locals => { project:project }

  %br
