%h1 
  Listing projects
  %small
    = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"New Project", link_path:new_project_path }
    &nbsp;
    &nbsp;
    &nbsp;
    = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"New Scene", link_path:new_scene_path }

%br

- @projects.each do |project|
  %strong
    project synopsis: 
  = project.desc

  &nbsp;
  &nbsp;
  &nbsp;
  -# show only for admin or manager
  = render :partial => "/shared/if_admin_or_manager", :locals => { link_text:"Edit Project: #{project.name}", link_path:edit_project_path(project) }

  %br

  - current_date = DateTime.now
  #scene-menu(style="text-align:left")
    - project.scenes.each do |scene|
      .box
        -if scene.is_vote_time?(current_date)
          = link_to image_tag(asset_path('video-vote.png')), scene_path(scene)
          = link_to scene.name, scene_path(scene)
        -elsif scene.is_submit_time?(current_date)
          = link_to image_tag(asset_path('video-submit.png')), new_video_path(:scene_id => scene)
          = link_to scene.name, new_video_path(:scene_id => scene)
        -elsif scene.is_unavailable_time?(current_date)
          = link_to image_tag(asset_path('video-none.png')), scene_path(scene)
          = link_to scene.name, scene_path(scene)
        -elsif scene.is_closed_time?(current_date)
          -if scene.videos.blank?
            = link_to image_tag(asset_path("video-none-submitted.png")), scene_path(scene)
          -else
            = link_to image_tag("#{scene.videos.first.thumbnail_url}"), scene_path(scene)
          = link_to scene.name, scene_path(scene)

  %br
