-# prev_next project menu
.row
  .span2
    = link_to "previous projects", projects_path, { class:'btn' }
  .span8
    #project-title
      current project: 
      .title
        = @project.name
      %br
  .span2
    .pull-right
      = link_to "upcoming projects", '#', { class:'btn' }

-#show only for admin or manager
-if current_user.has_role?(:admin) || current_user.has_role?(:manager)
  .admin
    = link_to 'Edit Project', edit_project_path(@project)

- current_date = DateTime.now + 5.days
#scene-menu
  - @scenes.each do |scene|
    .box
      -if scene.is_vote_time?(current_date)
        = link_to image_tag(asset_path('video-vote.png')), new_video_path
        = scene.name
      -elsif scene.is_submit_time?(current_date)
        = link_to image_tag(asset_path('video-submit.png')), videos_path
        = scene.name
      -elsif scene.is_unavailable_time?(current_date)
        = link_to image_tag(asset_path('video-none.png')), videos_path
        = scene.name
      -elsif scene.is_closed_time?(current_date)
        -#= link_to image_tag("#{scene.videos.first.thumbnail_url}"), video_path(video)
        = scene.name
