= render :partial => '/shared/project_scene_menu', :locals => { project:@project }

.row
  .span2
    %h4 Submissions
    .video-list(data-bind="foreach: videos, fade_videos_in: videos")
      score
      %span(data-bind='text: score')
      %br
      %a(data-bind="click: $parent.click_video_menu")
        %img(data-bind="attr: { src: thumbnail_url }")
      %br
      %a(data-bind="click: $parent.click_video_menu, text: name")
      %hr

  .span10
    %br

    #video-pane(data-bind='visible: show_video_pane')
      .video-details(data-bind="template: { data: video }, fade_videos_in: video")
        <!-- ko if: from_vimeo -->
        <iframe data-bind="attr: { src: embed_url }" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <!-- /ko -->

        <!-- ko if: from_youtube -->
        <iframe data-bind="attr: { src: embed_url}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        <!-- /ko -->

        -# hidden video_id for comment form submission
        %div(data-bind="text: id" id='video_id' style="display:none")
        %div(data-bind="text: name")
        %div(data-bind="text: actors")
        %div(data-bind="text: created_at")
        %div(data-bind="text: video_url")

      %hr

      %h4 comments
      %p
        -if current_user
          #comment_form
            -# note: id for video in form_tag is wrong. it's incorrectly using the project id
            = form_tag add_comment_video_path, :remote => true do
              = text_area_tag "comment"
              = button_tag "add comment", :class => "btn", :id => "comment_submit"
              = hidden_field :video, :id
        -else
          #video-show-sign-in
            = link_to "Sign in", new_user_session_path
            to comment

      #comments

    #select-video-pane(data-bind='visible: show_select_video_pane')
      %h2
        select a video from left
