!!! 5
%html
  %head
    %title Collabio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .layout-978
      .row
        = image_tag 'logo.png'
      .row
        = yield
      .row
        %div(style="float:left")
          Terms of Use &nbsp; | &nbsp; Privacy Policy
        %div(style="float:right")
          &copy; 2012 Collabea
