!!! 5
%html
  %head
    %title Collabea
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .layout-978
      .row
        - flash.each do |key, value|
          %div(class="flash-#{key}")
            = value
      .row
        .col5
          %a(href='/')
            = image_tag 'logo.png'
        .col7
          #nav-menu
            %ul
              %li 
                %a(href='#') Videos
              %li &nbsp; &middot; &nbsp;
              %li
                = link_to "About", about_path
              %li &nbsp; &middot; &nbsp;
              %li
                = link_to "Contact", contact_path
              %li &nbsp; &middot; &nbsp;
              %li
                = link_to "Sign In", new_user_session_path
        .row-end
      .row.content
        = yield
        %br
      .row
        .footer
          = link_to "Terms of Use", terms_path
          &nbsp; &middot; &nbsp; 
          = link_to "Privacy Policy", privacy_path
          &copy; 2012 Collabea
