!!! 5
%html
  %head
    %title Collabio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .layout-978
      .row
        %a(href='/')
          = image_tag 'logo.png'
      .row.content
        = yield
      .row.footer
        %div(style="float:left")
          %a(href='#') Terms of Use
          &nbsp; | &nbsp; 
          %a(href='#') Privacy Policy
        %div(style="float:right")
          &copy; 2012 Collabea
